In [1]:
# 1 . home
print("Hello World")

Hello World

In [10]:
# variable 
x = 5
namaLengkap = "Saul Santo Anju"
print(x)
print(namaLengkap)

# globa var
x = "awesome"

def cetakNama():
  x = "Udin Sedunia"
  print("Nama kamu " + x)

cetakNama()

print("nama mu? " + x)

5
Saul Santo Anju
Nama kamu Udin Sedunia
nama mu? awesome

In [3]:
# data type 

x = 5 
a = type(x)
print(a)

<class 'int'>

In [4]:
#  python number
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [8]:
# python casting
a = int(2.3)
b = float(2)
c = str("1")


print(a)
print(b)
print(c)

2
2.0
1

In [ ]:
# casting
x = float(1)     
y = float(2.8)   
z = float("3")   
w = float("4.2")

In [ ]:
# string


print('2022')
print("2022")

a ="Hallo Bumi!"
print(a)

In [13]:
# bool == TRUE DAN FALSE / 1 DAN 0
a = 2
b = 12

print(b % a == 0 )
print(a % b == 0)

True
False
False

In [ ]:
# operasi aritmatika python
print(10 + 5)
print(10 - 5)
print(10 / 5)
print(10 * 5)
print(10 % 5)

In [ ]:
# lists
mylist = ["apple", "banana", "cherry"]

In [ ]:
# tuples
mytuple = ("apple", "banana", "cherry")

In [ ]:
# set
buah = {"apple", "banana", "cherry"}

print(buah)

In [ ]:
# kamus
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)


thisdict = {  
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# ambil salah satu item
print(thisdict["brand"])